
{% extends "authentication/base.html" %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}
Hello , {{user.first_name}} <br>
<a href="{% url "social:follower_users" %}">Follower: </a>{{follower.count}}
<a href="{% url 'social:following_users' %}?following_user=true">Following: </a>{{following.count}} <br> <br>
<br>
<br>
<br>
<a href="{% url "social:home" %}">All Post</a>
<a href="{% url 'social:home' %}?following_only=true">Following</a> <br> <br>
 <a href="{% url "social:new_post" %}">Add Post</a> <br> <br> <br>
Posts: <br>
{% for i in post  %}
{{i.author.username}} <br>
{{i.created_at}} <br>
{{i.content}} <br>
{% if i.image %}
<img src="{{i.image.url}}" alt="" height='100' width='150'> 
{% endif %}
<br>
<form method="POST" action= '{% url "social:react" i.id %}'>
{% csrf_token %}


{% if i.user_reacted %}

<button type = 'submit'>Unlike</button>
{% else %}

<button type = 'submit'>Like</button>

{% endif %}

</form>
React conter: {{i.reactions.count}} <br>

<p>Comments: <br></p>
{% if i.comments %}
{% for comment in i.comments.all %}
{{comment.user}}
{{comment.content}}
{{comment.created_at}} <br>
{% if comment.user == request.user %}
<a href="{% url "social:edit_comment" i.id comment.id %}">Edit Comment</a>
{% endif %}
<button type='submit'><a href="{% url "social:delete_comment" comment.id %}">Delete</a></button> <br>


{% endfor %}
{% else %}
No comments yet
{% endif %}

<form method="POST" action='{% url "social:comment" i.id %}'>
{% csrf_token %}
{{form.as_p}}
<button type= 'submit'>Submit</button><br>


</form>



<br> <br> <br>
{% endfor %}

{% endif %}
{% endblock content %}