{% extends "authentication/base.html" %}

{% block content %}
Profile of {{profile.first_name}} <br>


{% if request.user != profile %}
{% if is_following %}
<a href="{% url "social:unfollow" profile.id %}">Unfollow</a> <br>
{% else %}
<a href="{% url "social:follow" profile.id %}">Follow</a> <br>
{% endif %}
{% endif %}



<img src="{{profile.profile_pic.url}}" alt="" width = '200' height = '200'> <br>
Name : {{profile.first_name}} {{profile.last_name}} <br>
Bio : {{profile.bio}} 
<br> <br> <br>
Posts: <br>
{% endblock content %}